body {
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* navbar */
#barra-navegacion{
    display: flex;
    justify-content: space-between;
    margin-right: 56.32px;
    margin-left: 56px;
    margin-top: 40px;
    margin-bottom: 64px;
    height: 60px;
    align-items: center;
}

#logo-barra{
    width: 107.684px;
    height: 25px;
    
}

#lineas-barra{
    width: 30px;
    height: 30px;
}


/* navbar */
/* main */
#container-main {
    width: 90vw;
    margin-left: 10px;
    margin-right: 10px;
}

.flex {
    display: flex;
}

#jugador-padel {
    justify-content: center;
    width: 100%;
}

#follow-live {
    flex-direction: column;
    align-items: flex-end;
}

#follow-live h2 {
    margin: 4px 10px 4px;
    color: #232C50;
    font-size: 50px;
}

#follow-live p {
    text-align: right;
    font-size: 17px;
    margin-left: 10px;
}

#boton-contacto {
    display: flex;
    width: 134px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #8B48BF;
    color: white;
    border-style: none;
}

/* main */
/* contenido-texto */
#contenido-texto h4 {
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    width: 446px;
    background-color: rgba(139, 72, 191, 0.30);
}

/* contenido-texto */
/* .numeracion-contenido-texto {
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #8B48BF;
    border-style: none;
    width: 23px;
    height: 19px;
    color: white;
} */